asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
boto3==1.20.43
botocore==1.23.43
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
distlib==0.3.4
Django==4.0.2
django-classy-tags==3.0.1
django-storages==1.12.3
django-taggit @ git+https://github.com/jazzband/django-taggit.git@5f3d0dfbb9c4cacae2b22b63778784f7b25a6721
django-taggit-templatetags2==1.6.1
filelock==3.4.2
h11==0.13.0
idna==3.3
jmespath==0.10.0
joblib==1.1.0
lxml==4.7.1
mysqlclient==2.1.0
numpy==1.22.1
outcome==1.1.0
pandas==1.4.0
pipenv==2022.1.8
platformdirs==2.4.1
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
s3transfer==0.5.0
scikit-learn==1.0.2
scipy==1.7.3
selenium==4.1.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
threadpoolctl==3.1.0
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
virtualenv==20.13.0
virtualenv-clone==0.5.7
webdriver-manager==3.5.2
wsproto==1.0.0
