boto3==1.20.43
botocore==1.23.43
certifi==2021.10.8
distlib==0.3.4
filelock==3.4.2
jmespath==0.10.0
lxml==4.7.1
pipenv==2022.1.8
platformdirs==2.4.1
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.8
virtualenv==20.13.0
virtualenv-clone==0.5.7
