{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        body {
            background-color: white;
        }
        .return-main{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block title %}
    와인정보
{% endblock %}
{% block content %}
<div class="header-button">
    <div class="logo">
        <img src="{% static 'images/header-logo.png' %}" alt="">
    </div>
    <div class="upright-button">
        <button class="all-wine-inform" onclick="location.href='/wine-all'">전체 와인 정보</button>
        <button class="my-pick" onclick="location.href='/my-pick'">
            <img src="{% static 'images/bookmark2_white.png' %}" alt="bookmark">나의 PICK</button>
            {% if not user.is_authenticated %}
                <button class="logout" onclick="location.href='/sign-in'">로그인</button>
            {% else %}
                <button class="logout" onclick="location.href='/logout'">로그아웃</button>
            {% endif %}
        <form id="searchForm" method="get" action="{% url 'recommendation:search' %}">
            <img src="{% static 'images/search.png' %}" alt="search">
            <input type="search" id="search_word" name="search_word" value="{{ search_word|default_if_none:'' }}" placeholder="와인을 검색하세요.">
        </form>
    </div>
</div>
<div class="information-box">
    <div class="information-part">
        <div class="wine-photo">
            <img src="https:{{ wine.image }}"
                 alt="와인 이미지를 넣어주세요" class="wine-photo__photo" >
        </div>
        <div class="body-right">
            <div class="wine-inform-content">
                <div class="origin-test">
                    <div class="origin-test__origin">
                        <p class="info-title">Origin</p>
                        <div class="origin">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg" alt=""
                                 style="width: 4vw; height: 4vw; border-radius: 50%">
                            <div class="region">
                                <p class="info-txt">{{ wine.region }}</p>
                                <p class="info-txt">{{ wine.country }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="test-profile">
                        <p class="info-title">Wine Profile</p>
                        <div class="taste-profile">
                            <p class="taste-profile__text">Body</p>
                            <div class="taste-profile__img">
                                {% if wine_profile.body|floatformat:0  == "1" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.body|floatformat:0  == "2" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.body|floatformat:0  == "3" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.body|floatformat:0  == "4" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.body|floatformat:0  == "5" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                {% endif %}
                            </div>
                        </div>
                        <div class="taste-profile">
                            <p class="taste-profile__text">Tannin</p>
                            <div class="taste-profile__img">
                                {% if wine_profile.tannin|floatformat:0  == "1" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.tannin|floatformat:0  == "2" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.tannin|floatformat:0  == "3" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.tannin|floatformat:0  == "4" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.tannin|floatformat:0  == "5" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                {% endif %}
                            </div>
                        </div>
                        <div class="taste-profile">
                            <p class="taste-profile__text">Acidity</p>
                            <div class="taste-profile__img">
                                {% if wine_profile.acidity|floatformat:0  == "1" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.acidity|floatformat:0  == "2" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.acidity|floatformat:0  == "3" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.acidity|floatformat:0  == "4" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.acidity|floatformat:0  == "5" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                {% endif %}
                            </div>
                        </div>
                        <div class="taste-profile">
                            <p class="taste-profile__text">Sweetness</p>
                            <div class="taste-profile__img">
                                {% if wine_profile.sweetness|floatformat:0  == "1" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.sweetness|floatformat:0  == "2" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.sweetness|floatformat:0  == "3" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.sweetness|floatformat:0  == "4" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_line.png' %}" alt="ellipse_line">
                                {% endif %}
                                {% if wine_profile.sweetness|floatformat:0  == "5" %}
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                    <img src="{% static 'images/Ellipse_red.png' %}" alt="ellipse_red">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="width: 100%">
                <div class="wine-rating">
                    <div class="wine-rating__type">
                        <p class="info-title">Wine Type</p>
                        <div class="wine-type">
                            <i class="fas fa-wine-glass-alt" style="height: 100%; width: 1.5vw; color: firebrick"></i>
                            <p class="info-txt">{{ wine.type }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="info-title">Ratings</p>
                        <div class="rating">
                            <p class="rating-number">{{ wine.rating }} / 5.0</p>
                        </div>
                    </div>
                </div>
                <hr style="width: 100%">
                <div>
                    <div>
                        <p class="info-title">Primary Flavor</p>
                        <div class="wine-flavor">
                            <p class="info-txt">{{ wine.primary_flavors }}</p>
                        </div>
                    </div>
                    <hr style="width: 100%">
                    <div>
                        <p class="info-title">Purchase Link</p>
{#                        <button type="button" class="navyBtn" onclick="location.href='{{ wine.purchase_link }}'">Buy</button>#}
{#                        Open link in new tab (button)#}
                        <button type="button" class="navyBtn" onclick="  window.open('{{ wine.purchase_link }}', '_blank'); return false;">Buy</button>
                    </div>
                </div>
                {% comment %} <hr style="width: 100%">
                <div class="wine-comment">
                    <p class="info-title">Wine Comment</p>
                    <p class="wine-comment__txt">"{{ wine.comment }}"</p>
                </div> {% endcomment %}
            </div>
        </div>
        
        </div>
        <div class="wine-comment__box">
            <hr style="width: 100%">
                    <div class="wine-comment">
                        <p class="info-title">Wine Comment</p>
                        <p class="wine-comment__txt">"{{ wine.comment }}"</p>
                    </div>
                </div>
                <div class="food-frame">
                    <div class="food-header">
                        <div>
                        <p class="font56">안주 추천</p>
                        </div>
                        <p class="marleffont24"><span class="marleffont24-wine">{{ wine.name }}</span> 와인과 잘 어울리는 안주는 아래와 같습니다.</p>
                    </div>
                    <div class="food-body">
                        {% for food in food_list %}
                        <div class="menu">
                            <div class="menu-food">
                            <img src="{{ food.link }}" alt="" class="food">
                            </div>
                            <div class="food-right">
                                <p class="food-right__title">{{ food.name }}</p>
                                <p class="food-right__desc">{{ food.description }}</p>
                            </div>
                        </div>
                         {% endfor %}
                </div>
                {{ wine.ytinfo }} 관련 동영상 Top #1
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                  src="https://www.youtube.com/embed/{{ wine_id }}"
                  frameborder="0"></iframe>
                  <div class="return-main">
                    <div class="return-main-button">
                        <button type="button" class="button-name" onclick="location.href='/'">추천 와인으로 돌아가기</button>
                    </div>
                </div>
    </div>

    

{% endblock %}