{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .image1 {
            opacity: 1;
            position: relative;
            width: 1.4vw;
            height: 3.4vh;
            border-radius: 0;

        }
        .image1:hover {
            opacity: 0.2;
            transition: opacity 0.5s;
            cursor: pointer;
        }
        a:hover {
            text-decoration: underline;
            color: white;
        }
    {#    일단 이렇게 해두었는데 나중에 고쳐주세용~~!! #}
    </style>
{% endblock %}

{% block title %}
    추천 와인
{% endblock %}
{% block content %}
<div class="header-button">
    <div class="logo">
        <img src="{% static 'images/header-logo.png' %}" alt="" onclick="location.href='/wine-all'">
    </div>
            
    <div class="upright-button">
        <button class="all-wine-inform" onclick="location.href='/wine-all'">전체 와인 정보</button>
        <button class="my-pick" onclick="location.href='/my-pick'">
            <img src="{% static 'images/bookmark2_white.png' %}" alt="bookmark">나의 PICK</button>
        <button class="logout" onclick="location.href='/logout'">로그아웃</button>
        <form id="searchForm" method="get" action="{% url 'recommendation:search' %}">
            <img src="{% static 'images/search.png' %}" alt="search">
            <input type="search" id="search_word" name="search_word" value="{{ search_word|default_if_none:'' }}" placeholder="와인을 검색하세요.">
        </form>
    </div>
</div>
    <main class="main">
        <div class="nickname">
            <div class="nickname-contents">
                <p>{{ user.nickname }} 님의 추천 와인 </p>
                <img src="{% static 'images/bx_bx-donate-heart.png' %}" alt="rec-heart">
            </div>
            <hr>
        </div>
        <div class="main-wines">
            {% for wine in wines %}
                {% if wine.id in list   %}
                <div class="all-wine-item1">
                    <div class="main-wines__wine">
                        <div class="img-wrapper">
                            <img class="wrap-img" src="https:{{ wine.image }}" alt="wine" onclick="">
                            <div class="detail-page">
                                <p style="color: white" onclick>
                                    <a href="/wine-detail/{{ wine.id }}">상세페이지 가기</a>
                                </p>
                            </div>
                        </div>
                        <div class="main-wines__desc">
                            <div>
                                <p class="wine-name">{{ wine.name }}</p>
                                <p>{{ wine.region }}</p>
                            </div>
                            <div class="main-wines__img">
                                {#                        <div>picked: {{wine.saved_count}}</div>#}
                                <a href="{% url 'recommendation:wine-save-toggle' wine.id 'wine-recommend' None %}">
                                    {% if wine in user.my_pic.all %}
                                        {#                                if wine is in my-pic list #}
                                        <img class="image1" src="{% static 'images/bookmark2.png' %}" alt="">
                                    {% else %}
                                        {#                                if not in the list #}
                                        <img class="image1" src="{% static 'images/bookmark1.png' %}" alt="">
                                    {% endif %}
                                </a>
                                {#                        <img class="img1" id='save' src="{% static 'images/bookmark1.png' %}" alt="" onclick=save(this.alt)>#}
                                {#                        <img class="img2" id='save' src="{% static 'images/bookmark2.png' %}" alt="" onclick=save(this.alt)>#}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}