<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--프론트엔드 맞추기-->
    <title>World Wonder Wine</title>
    <link href="/static/css/wine_all.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header-button">
    <div class="logo">
        <img src="/static/images/header-logo.png" alt="headerlogoimg">
    </div>
    <div class="upright-button">
        <div class="all-wine-inform">
            <p style="color: white;">전체 와인 정보</p>
        </div>
        <div class="my-pick">
            <img src="/static/images/bookmark2_white.png" alt="bookmark">
            <p style="color: white">나의 PICK</p>
        </div>
        <div class="logout">
            <p style="color: white">로그아웃</p>
        </div>
    </div>
</div>
<div class="preface">
    <hr size="2px" color="goldenrod">
    <p>전체 와인 정보</p>
</div>
<div class="all-wine-container">
    <div class="all-wine-item">
        <div class="wine-inform">
            <div class="wine-photo">
                <div class="img-wrapper">
                    <a><img class="wrap-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9HwEBy3wrGkwkOJZkDdZRkJ5T4Wq_Qffazg&usqp=CAU"
                            alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}">상세페이지 가기</a>
                        </p>
                    </div>
                    <div class="wine-name-origin">
                        <p class="wine-name">와인이름</p>
                        <P class="wine-origin">와인 생산지 이름</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-wine-item">
        <div class="wine-inform">
            <div class="wine-photo">
                <div class="img-wrapper">
                    <a><img class="wrap-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9HwEBy3wrGkwkOJZkDdZRkJ5T4Wq_Qffazg&usqp=CAU"
                            alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}/">상세페이지 가기</a>
                        </p>
                    </div>
                    <div class="wine-name-origin">
                        <p class="wine-name">와인이름</p>
                        <P class="wine-origin">와인 생산지 이름</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-wine-item">
        <div class="wine-inform">
            <div class="wine-photo">
                <div class="img-wrapper">
                    <a><img class="wrap-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9HwEBy3wrGkwkOJZkDdZRkJ5T4Wq_Qffazg&usqp=CAU"
                            alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}/">상세페이지 가기</a>
                        </p>
                    </div>
                    <div class="wine-name-origin">
                        <p class="wine-name">와인이름</p>
                        <P class="wine-origin">와인 생산지 이름</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-wine-item">
        <div class="wine-inform">
            <div class="wine-photo">
                <div class="img-wrapper">
                    <a><img class="wrap-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9HwEBy3wrGkwkOJZkDdZRkJ5T4Wq_Qffazg&usqp=CAU"
                            alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}/">상세페이지 가기</a>
                        </p>
                    </div>
                    <div class="wine-name-origin">
                        <p class="wine-name">와인이름</p>
                        <P class="wine-origin">와인 생산지 이름</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-wine-item">
        <div class="wine-inform">
            <div class="wine-photo">
                <div class="img-wrapper">
                    <a><img class="wrap-img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9HwEBy3wrGkwkOJZkDdZRkJ5T4Wq_Qffazg&usqp=CAU"
                            alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}/">상세페이지 가기</a>
                        </p>
                    </div>
                    <div class="wine-name-origin">
                        <p class="wine-name">와인이름</p>
                        <P class="wine-origin">와인 생산지 이름</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html> 