{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .image1 {
            opacity: 1;
            position: relative;
            width: 1.4vw;
            height: 3.4vh;
            border-radius: 0;

        }
        .image1:hover {
            opacity: 0.2;
            transition: opacity 0.5s;
            cursor: pointer;
        }
        a:hover {
            text-decoration: underline;
            color: white;
        }
    {#    일단 이렇게 해두었는데 나중에 고쳐주세용~~!! #}
    </style>
{% endblock %}

{% block title %}
    추천 와인
{% endblock %}
{% block content %}
<div class="header-button">
    <div class="logo">
        <img src="{% static 'images/header-logo.png' %}" alt="">
    </div>
    <div class="upright-button">
{#        <form type="get" action="." style="margin: 0">#}
{#            <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >#}
{#            <button id="search_submit" type="submit" >Submit</button>#}
{#        </form>#}
        <button class="all-wine-inform" onclick="location.href='/wine-all'">전체 와인 정보</button>
        <button class="my-pick" onclick="location.href='/my-pic'">
            <img src="{% static 'images/bookmark2_white.png' %}" alt="bookmark">나의 PICK</button>
        <button class="logout" onclick="location.href='/logout'">로그아웃</button>
    </div>
</div>
    <main class="main">
        <div class="nickname">
            <div class="nickname-contents">
                <p>{{ user.nickname }} 님의 추천 와인 </p>
                <img src="{% static 'images/bx_bx-donate-heart.png' %}" alt="rec-heart">
            </div>
            <hr>
        </div>
        <div class="main-wines">
            {% for wine in wines %}
            <div class="main-wines__wine">
                <div class="img-wrapper">
                    <a><img class="wrap-img" src="{% static 'images/wine.png' %}" alt="wine" onclick=""></a>
                    <div class="detail-page">
                        <p style="color: white" onclick>
                            <a href="/wine-detail/{{ wine.id }}">상세페이지 가기</a>
                        </p>
                    </div>
                </div>
                <div class="main-wines__desc">
                    <div>
                        <p>{{ wine.name }}</p>
                        <p>{{ wine.region }}</p>
                    </div>
                    <div class="main-wines__img">
{#                        <div>picked: {{wine.saved_count}}</div>#}
                        <a href="{% url 'recommendation:wine-save-toggle' wine.id %}">
                            {% if wine in user.my_pic.all %}
{#                                if wine is in my-pic list #}
                                <img class="image1" src="{% static 'images/bookmark2.png' %}" alt="">
                            {% else %}
{#                                if not in the list #}
                                <img class="image1" src="{% static 'images/bookmark1.png' %}" alt="">
                            {% endif %}
                        </a>
{#                        <img class="img1" id='save' src="{% static 'images/bookmark1.png' %}" alt="" onclick=save(this.alt)>#}
{#                        <img class="img2" id='save' src="{% static 'images/bookmark2.png' %}" alt="" onclick=save(this.alt)>#}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}