{% extends 'base.html' %}
{% load static %}

{% block title %}
    로그인
{% endblock %}
{% block content %}
    <div class="login">
        <div class="login-logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>

        <form class="login-form" action="" method="POST">
            {% csrf_token %}
            <img class="login-form__img" src="{% static 'images/wine-glass1.png' %}" alt="wine-glass">
            <input type="text" name="username" class="login-form__input" placeholder="아이디를 입력하세요. ex)world@wonder.com" required>
            <input type="password" name="password" class="login-form__input" placeholder="비밀번호를 입력하세요." required maxlength="16">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <input class="login-form__btn" value="로그인" type="submit">
            <div class="login-form__bottom">
                <a href="#" class="login-form__a">아이디 / 비밀번호 찾기</a>
                <a href="/sign-up" class="login-form__a">회원가입</a>
            </div>
        </form>
    </div>
{% endblock %}